### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
**/.idea/*
!**/.idea/codeStyles
!**/.idea/copyright

**/*.iws
**/*.iml
**/*.ipr

### Maven ###
**/target

### Node
**/node
**/node_modules
**/package-lock.json
**/*.js
**/*.js.map
